.spaces-container {
  z-index: 1;
  position: relative;
  top: 8px;
  left: 10px;
  width: 300px;
  height: 618px;
  background-color: #232931;
  border-radius: 8px;
  padding: 32px 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.spaces-container .title-container {
  display: flex;
  justify-content: space-between;
}

.title-container .spaces-title {
  display: block;
  color: #fff;
  font-size: 18px;
  padding-bottom: 12px;
  font-weight: 500;
}

.title-container .spaces-time {
  display: block;
  color: #fff;
  font-size: 18px;
  padding-bottom: 12px;
  font-weight: 500;
}

.spaces-container .spaces-desc {
  height: 30px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 16px;
}

.spaces-container .button-container {
  display: flex;
  flex-wrap: wrap;
}
