.container {
  width: 390px;
  height: 160px;
  background-color: #232931;
  border-radius: 8px;
  position: absolute;
  bottom: 186px;
  left: 560px;
}

.header {
  text-align: center;
  color: white;
  font-size: 16px;
  margin-top: 12px;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}

.body {
  display: flex;
  padding-right: 37px;
}

.time {
  width: 200px;
  height: 100px;
  margin-top: 10px;
  margin-left: 9px;
  border-radius: 20px;
}

#timer {
  width: 128px;
  font-size: 48px;
  margin-top: 24px;
  margin-left: 11px;
  font-weight: 500;
  color: #fff;
}

.option {
  display: flex;
  flex-direction: column;
}

.more-option {
  width: auto;
  display: flex;
}

.btn-pomodoro {
  width: 100px;
  height: 28px;
  margin-top: 24px;
  margin-left: 10px;
  margin-bottom: -12px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #232931;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btn-start {
  width: 205px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
