.content {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
}

.content .desc {
  width: 60%;
}

.content .desc h1 {
  margin-bottom: 12px;
}

.content .desc p {
  margin-bottom: 48px;
  width: 70%;
  color: #ccc;
}

.content .desc button {
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 12px 28px;
  margin-left: 353px;
  border-radius: 8px;
  background-color: #2e4744;
  cursor: pointer;
}

.content .desc button:hover {
  background-color: #203936;
}