.homepage {
  color: #fff;
  width: 100%;
  height: 100vh;
  padding: 0 60px;
  background-image: url("../../assets/images/Kakariko.jpg");
  background-size: cover;
}

.homepage a {
  color: wheat;
}
