.container-tools {
  width: 54px;
  height: auto;
  background-color: #1d2021;
  z-index: 1;
  position: absolute;
  top: 163px;
  left: 319px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
