@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.app {
  position: relative;
  background-color: #0f0d0e;
  width: 100%;
  height: 100vh;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
}

.app a {
  color: #fff;
}

.btn-fullscreen {
  position: absolute;
  top: 5px;
  right: 50px;
  color: #fff;
  background-color: #232931;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px 8px 4px;
}

.btn-fullscreenExit {
  position: absolute;
  top: 5px;
  right: 50px;
  color: #fff;
  background-color: #232931;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px 8px 4px;
}

.btn-exit {
  position: absolute;
  top: 5px;
  right: 12px;
  color: #fff;
  background-color: #232931;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px 8px 4px;
}
