.tool-btn {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.tool-btn .tool-icon {
  font-size: 26px;
}

.tool-btn span {
  font-size: 11px;
  color: #fff;
}
