.lang {
  position: relative;
  right: 700px;
}

.lang select {
  width: 140px;
  height: 36px;
  color: #fff;
  background-color: #232931;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
  display: flex;
  margin-top: -625px;
  margin-left: 1350px;
}
